@model FoodStore.Domain.Entities.Product

<div class="well">
	<h3>
		<strong>@Model.Name</strong>
	</h3>
	<span class="pull-right label label-primary">@Model.Price</span>
	<span class="lead">@Model.Description</span>

	
</div>